
<h1>¿DONDE HA ESTADO LA GENTE QUE SIGUES?</h1>



@for(pub of publis | paginate : { itemsPerPage: 15, currentPage: p }; track $index){
    <div class="container mt-4">
      <div class="card p-3">
          <div class="row">
              <div class="col-md-4">
                <a class="nav-link" routerLink="/publi/{{pub._id}}"> 
                  <div class="position-relative snipimage">
                    @if(pub.foto == null){
                      <img src="images/tourGen.jpg" class="rounded img-fluid w-100 img-responsive">
                    }
                    @else{
                      <img src='{{url + pub.foto}}' class="rounded img-fluid w-100 img-responsive">
                    }
                     
                  </div> 
                </a>
              </div>
           
              <div class="col-md-8">
                  <div class="mt-2">
                    <a class="nav-link" routerLink="/publi/{{pub._id}}"> 
                    <div class="d-flex justify-content-between align-items-center">
                      <h5 class="mb-1 titulo">{{pub.titulo}}</h5>
                    </div>
                    </a>
                    <div class="d-flex justify-content-md-start justify-content-between views-content mt-2">  
                        <div class="d-flex flex-row align-items-center ms-2">
                            <i class="fa fa-heart"></i>
                            <a class="nav-link" routerLink="/publis/{{pub.ciudad}}">
                               <span class="ms-1 views">{{pub.ciudad}}</span>
                            </a>
                            <a class="nav-link" routerLink="/publis/{{pub.pais}}">
                                <span class="ms-1 views">{{pub.pais}}</span>
                            </a>
                            <a class="nav-link" routerLink="/publis/{{pub.continente}}">
                                <span class="ms-1 views">{{pub.continente}}</span>
                            </a>
                        </div>  
                    </div>
                    <a class="nav-link" routerLink="/perfil/{{pub.usuario.idUsu}}">
                    <div class="d-flex flex-row mt-3">
                      
                      @if(pub.usuario.fotoPerfil == 'null' || pub.usuario.fotoPerfil == null){
                        <img src="images/userGenProfile.jpg" width="50" class="rounded-circle">
                      }
                      @else{
                        <img src="{{urlUser + pub.usuario.fotoPerfil}}" width="50" class="rounded-circle">
                      }
                        <div class="ms-2 d-flex flex-column">
                           <div class="d-flex flex-row align-items-center">
                                <h6>{{pub.usuario.nombre + ' ' + pub.usuario.apellidos}}</h6>
                           </div>
                          <span class="days-ago">{{pub.usuario.nick}}</span>
                        </div> 
                      
                    </div></a>
                  </div>     
              </div> 
          </div>
      </div>
  </div>
}

<pagination-controls (pageChange)="pageChanged($event)" [autoHide]="true" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
