.tour{
    border:none;
    background-color: rgb(188, 152, 221);
    color:#fff;
    border-radius:12px;

}

.titulo{
    font-size:30px;
}
.snipimage img{
    height: 200px;
}

.views-content{
    color:#606271;
}
.views{
    font-size:17px;
}

.list-group{
    align-items: center;
}

