<section class="w-100 px-4 py-5" style="background-color: #9de2ff; border-radius: .5rem .5rem 0 0;">
    <div class="row d-flex justify-content-center">
      <div class="col col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-4">
            <div class="d-flex">
              <div class="flex-shrink-0">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                  alt="Generic placeholder image" class="img-fluid" style="width: 180px; border-radius: 10px;">
              </div>
              <div class="flex-grow-1 ms-3">
                <h5 class="mb-1">{{user.nombre + ' ' + user.apellidos}}</h5>
                <p class="mb-2 pb-1">{{user.biografia}}</p>
                <div class="d-flex justify-content-start rounded-4 p-2 mb-2 bg-body-tertiary">
                  <div>
                    <p class="small text-muted mb-1">Publicaciones</p>
                    <p class="mb-0">{{user.publicaciones}}</p>
                  </div>
                  <div class="px-3">
                    <p class="small text-muted mb-1">Seguidores</p>
                    <p class="mb-0">{{user.numSeguidores}}</p>
                  </div>
                  <div>
                    <p class="small text-muted mb-1">Puntuacion</p>
                    <p class="mb-0">{{user.puntuacion}}</p>
                  </div>
                </div>
                
                @if(!miPerfil()){
                  <div class="d-flex pt-1">
                  <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary me-1 flex-grow-1">Chat</button>
                  @if(isFollow == true){
                    <button  type="button" (click)='unfollow()' data-mdb-button-init data-mdb-ripple-init class="btn btn-primary flex-grow-1">Unfollow</button>
                  }
                  @else{
                    <button  type="button" (click)='follow()' data-mdb-button-init data-mdb-ripple-init class="btn btn-primary flex-grow-1">Follow</button>
                  }
                  </div>
                }
                @else{
                  <div class="d-flex justify-content-start rounded-4 p-2 mb-2 bg-body-tertiary">
                  <div>
                    <p class="small text-muted mb-1">Correo Electronico</p>
                    <p class="mb-0">{{user.email}}</p>
                  </div>
                  <div class="px-3">
                    <p class="small text-muted mb-1">Nombre Usuario</p>
                    <p class="mb-0">{{user.nick}}</p>
                  </div>
                  <a class="navlink" routerLink="/perfilData"><p>Cambiar datos</p></a>
                  </div>
                  }  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
