@if(user){
<section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center">
        <div class="col col-lg-9 col-xl-8">
          <div class="card">
            <div class="rounded-top text-white d-flex flex-row" style="background-color: rgb(188, 152, 221); height:200px;">
              <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                @if(user.fotoPerfil == null){
                  <img src="images/userGenProfile.jpg"
                  alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                  style="width: 150px; z-index: 1">
                }
                @else{
                  <!--Poner foto de perfil-->
                  <img src='{{url + user.fotoPerfil}}'
                   class="img-fluid img-thumbnail mt-4 mb-2"
                  style="width: 150px; z-index: 1">
                }
                  @if(!miPerfil()){
                    @if(isFollow == true){
                    <button  type="button" (click)='unfollow()' class="btn btn-outline-dark"  style="z-index: 1;">
                      Dejar de seguir
                    </button>
                    }
                    @else{
                    <button  type="button" (click)='follow()' class="btn btn-outline-dark" data-mdb-ripple-color="dark" style="z-index: 1;">
                      Seguir
                    </button>
                    }
                  }
                  @else{
                    <button  type="button" routerLink="/perfilData" class="btn btn-outline-dark" data-mdb-ripple-color="dark" style="z-index: 1;">
                      Editar perfil
                    </button>
                  }
                
              </div>
              <div class="ms-3" style="margin-top: 130px;">
                <h5>{{user.nombre + ' ' + user.apellidos}}</h5>
                <p>{{user.nick}}</p>
              </div>
            </div>
            <div class="p-4 text-black bg-body-tertiary">
              <div class="d-flex justify-content-end text-center py-1 text-body">
                <div>
                  <p class="mb-1 h5">{{user.publicaciones}}</p>
                  <button style="background:none; border:none;" (click)="getTours()">
                  <p class="small text-muted mb-0">Tours</p>
                  </button>
                </div>
                <div class="px-3">
                  
                  <p class="mb-1 h5">{{user.numSeguidores}}</p>
                  <button style="background:none; border:none;" (click)="getSeguidores()">
                  <p class="small text-muted mb-0">Seguidores</p>
                  </button>
                </div>
                <div>
                  
                  <p class="mb-1 h5">{{user.numSeguidos}}</p>
                  <button style="background:none; border:none;" (click)="getSeguidos()">
                  <p class="small text-muted mb-0">Seguidos</p>
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body p-4 text-black">
              @if(tours){
                <h5>Tours subidos por {{user.nombre + ' ' + user.apellidos}}</h5>
                @for(pub of toursList | paginate : { itemsPerPage: 15, currentPage: p }; track $index){
                  <div class="container mt-4">  
    
                    <div class="tour p-3">
                        <div class="row">
                            <div class="col-md-4">
                              <a class="nav-link" routerLink="/publi/{{pub._id}}"> 
                                <div class="position-relative snipimage">
                                  @if(pub.foto == null){
                                    <img src="images/tourGen.jpg" class="rounded img-fluid w-100 img-responsive">
                                  }
                                  @else{
                                    <img src='{{urlPub + pub.foto}}' class="rounded img-fluid w-100 img-responsive">
                                  }
                                </div> 
                              </a>
                            </div>
                         
                            <div class="col-md-8">
                                <div class="mt-2">
                                  <a class="nav-link" routerLink="/publi/{{pub._id}}"> 
                                  <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="mb-1 titulo">{{pub.titulo}}</h5>
                                  </div>
                                  </a>
                                  <div class="d-flex justify-content-md-start justify-content-between views-content mt-2">  
                                      <div class="d-flex flex-row align-items-center ms-2">
                                          <i class="fa fa-heart"></i>
                                          <a class="nav-link" routerLink="/publis/{{pub.ciudad}}">
                                             <span class="ms-1 views">{{pub.ciudad}}</span>
                                          </a>
                                          <a class="nav-link" routerLink="/publis/{{pub.pais}}">
                                              <span class="ms-1 views">{{pub.pais}}</span>
                                          </a>
                                          <a class="nav-link" routerLink="/publis/{{pub.continente}}">
                                              <span class="ms-1 views">{{pub.continente}}</span>
                                          </a>
                                      </div>  
                                  </div>
                                </div>     
                            </div> 
                        </div>
                    </div>
                </div>
              }
              <pagination-controls (pageChange)="pageChanged($event)" [autoHide]="true" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
              }
              @else if(seguidores){
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 gutters-sm">
                  @for(us of seguidoresList | paginate : { itemsPerPage: 10, currentPage: p }; track $index){
                    <a class="nav-link" routerLink="/perfil/{{us._id}}">
                      <div class="col mb-3 card">
                          <div class="card-body text-center">
                            
                            <img src="/images/userGenProfile.jpg" style="width:100px;margin-top: 5px" alt="User" class="img-fluid img-thumbnail rounded-circle border-0 mb-3">
                            
                            <h5 class="card-title">{{us.nick}}</h5>
                            
                          </div>
                      </div>
                    
                    </a>
                }
              </div>
              <pagination-controls (pageChange)="pageChanged($event)" [autoHide]="true" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
              }
              @else if(seguidos){
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 gutters-sm">
                  @for(us of seguidosList | paginate : { itemsPerPage: 10, currentPage: p }; track $index){
                    <a class="nav-link" routerLink="/perfil/{{us._id}}">
                      <div class="col mb-3 card">
                          <div class="card-body text-center">
                            
                            <img src="/images/userGenProfile.jpg" style="width:100px;margin-top: 5px" alt="User" class="img-fluid img-thumbnail rounded-circle border-0 mb-3">
                            
                            <h5 class="card-title">{{us.nick}}</h5>
                            
                          </div>
                      </div>
                    
                    </a>
                }
              </div>
              <pagination-controls (pageChange)="pageChanged($event)" [autoHide]="true" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>  
}
@else{
  <h5>Ya no existe este usuario</h5>
}

