<div class="col-lg-6 mx-auto reg">
    <h1>ACTUALIZAR DATOS</h1>
    <form [formGroup]="formChange" (ngSubmit)="onSubmit()">
        <div class="mb-2">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" class="form-control" formControlName="nombre">
        </div>
        <div class="mb-2">
            <label for="apellidos">Apellidos</label>
            <input type="text" id="apellidos" class="form-control" formControlName="apellidos">
        </div>
        <div class="mb-2">
            <label for="nick">Username</label>
            <input type="text" id="nick" class="form-control" formControlName="nick">
        </div>
        <div class="mb-2">
            <label for="email">Correo electronico</label>
            <input type="text" id="email" class="form-control" formControlName="email">
        </div>
        <div class="mb-2">
            <label for="password">Contraseña</label>
            <input type="password" id="password" class="form-control" formControlName="password">
        </div>
        <div class="mb-2">
            <label for="newPassword">Nueva Contraseña</label>
            <input type="password" id="newPassword" class="form-control" formControlName="newPassword">
        </div>
        <p>Al cambiar los datos tendra que iniciar sesion de nuevo!</p>
        <input type="submit" [disabled]="!formChange.valid" value="Actualizar datos" class="btn btn-primary">
    </form>
</div>