<div class="container mt-5 todo">
    <div class="row">
        <div class="col-lg-8">
            <form [formGroup]="formCreatePubli" (ngSubmit)="onSubmit()">
            <article>
                <header class="mb-4">
                    <h1 class="fw-bolder mb-1">Titulo :</h1>
                    <input type="text" id="titulo" class="form-control" formControlName="titulo">
                </header>
                
                <h5 class="fw-bolder mb-1">Continente :</h5>
                <input type="text" id="continente" class="form-control" formControlName="continente">
                <h5 class="fw-bolder mb-1">Pais :</h5>
                <input type="text" id="pais" class="form-control" formControlName="pais">
                <h5 class="fw-bolder mb-1">Ciudad :</h5>
                <input type="text" id="ciudad" class="form-control" formControlName="ciudad">
                
                <section class="mb-5">
                    @for(et of etapas; track $index){
                    <form [formGroup]="etapas[$index]">
                    <h2 class="fw-bolder mb-1">Etapa {{$index + 1}}:</h2>
                    <label for="titulo{{$index}}">Titulo: </label>
                    <input type="text" id="titulo{{$index}}" class="form-control" formControlName="titulo">
                    <br>
                    <textarea class="form-control" formControlName="texto" id="etapa{{$index}}" rows="3" placeholder="Escribe la etapa"></textarea>
                    </form>
                }
                </section>
                <div class="mb-2">
                    <button type="button" (click)="addEtapa()">Añadir Etapa</button>
                </div>
                @if(etapas.length > 1){
                <div class="mb-2">
                    <button type="button" (click)="deleteEtapa()">Quitar Etapa</button>
                </div>
                }
                <label for="fotosEtapa">Subir foto de portada</label>
                <br>
                <input type="file" id="fotosEtapa" accept="image/png, image/jpeg" (change)="fileChangeEvent($event)">
                
                
            </article>
            <br>
                <input type="submit" [disabled]="!formCreatePubli.valid || etapasValids() == false" value="Crear Publi" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
