
.navbar{
    background-color: rgb(188, 152, 221);
    align-items: center;
}

.navbar-brand{
    color:rgb(0, 4, 5);
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 2px;
}

.navbar-collapse{
    align-items: center;
}

.container-fluid{
    font-size: 25px;
}

.form-control{
    width: 180px;
}

.d-lg-none{
    i{
        margin-right: 8px;
    }
    
}

