
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">WIKITOUR</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item d-none d-lg-block">
            <a class="nav-link" href="#" title="TOURS"><i class="bi bi-airplane"></i></a>
          </li>
          <li class="nav-item d-lg-none">
            <a class="nav-link" href="#"><i class="bi bi-airplane"></i>TOURS</a>
          </li>
          <li class="nav-item d-none d-lg-block">
            <a class="nav-link" href="#" title="PERFIL"><i class="bi bi-person-fill"></i></a>
          </li>
          <li class="nav-item d-lg-none">
            <a class="nav-link" href="#"><i class="bi bi-person-fill"></i>PERFIL</a>
          </li>
          <li class="nav-item d-none d-lg-block">
            <a class="nav-link" href="#" title="MENSAJES"><i class="bi bi-envelope"></i></a>
          </li>
          <li class="nav-item d-lg-none">
            <a class="nav-link" href="#"><i class="bi bi-envelope"></i>MENSAJES</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Usuarios" aria-label="Search">
            <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
          </form>
      </div>
    </div>
  </nav>