<h1>Titulo</h1>
<p>{{publi.titulo}}</p>
<h1>Ciudad</h1>
<p>{{publi.ciudad}}</p>
<h1>Pais</h1>
<p>{{publi.pais}}</p>
<h1>Continente</h1>
<p>{{publi.continente}}</p>
<h1>Nombre de Usuario</h1>
<p>{{publi.usuario}}</p>
@for(et of publi.etapas; track $index){
    <h1>Etapa {{$index + 1}}</h1>
    <h2>{{et.titulo}}</h2>
    <form [formGroup]="etapas[$index]">
        <div class="mb-2">
            <label for="etapa{{$index}}">Texto Etapa {{$index + 1}}</label>
            <input type="text" id="etapa{{$index}}" class="form-control" formControlName="texto">
        </div>
    </form>
}
<button (click)="sub()">Modificar</button>
