<div class="container mt-5 todo">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{publi.titulo}}</h1>
                    <!-- Post meta content-->
                    <a class="nav-link" routerLink="/perfil/{{publi.usuario.idUsu}}"><div class="text-muted fst-italic mb-2">Posted by {{publi.usuario.nick}}</div></a>
                    <!-- Post categories-->
                    <a class="badge bg-secondary text-decoration-none link-light" routerLink="/publis/{{publi.ciudad}}">{{publi.ciudad}}</a>
                    <a class="badge bg-secondary text-decoration-none link-light" routerLink="/publis/{{publi.pais}}">{{publi.pais}}</a>
                    <a class="badge bg-secondary text-decoration-none link-light" routerLink="/publis/{{publi.continente}}">{{publi.continente}}</a>
                </header>
                <!-- Preview image figure-->
                 @if(publi.foto){
                    <figure class="mb-4"><img class="img-fluid rounded" src='{{url + publi.foto}}' style="height: 400px;"/></figure>
                }
                <!-- Post content-->
                <section class="mb-5">
                    @for(et of publi.etapas; track $index){
                    <h2 class="fw-bolder mb-1">{{et.titulo}}</h2>
                    <a class="nav-link" routerLink="/perfil/{{et.idUsu}}"> <div class="text-muted fst-italic mb-2">Posted by {{et.usuario}}</div></a>
                    <p class="fs-5 mb-4">{{et.texto}}</p>
                }
                </section>
            </article>
            <div class="likes">
            @if(!like){
                <i  class="bi bi-heart" role="button" (click)="addLike()"></i>
            }
            @else{
                <i class="bi bi-heart-fill" role="button" (click)="deleteLike()"></i>
            }
            {{publi.numlikes}}
            </div>
            <div class="botonMod">
                <button (click)="modificarEtapas()">Modificar tour</button>
            </div>
            <!-- Comments section-->
            <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                        <!-- Comment form-->
                        <form [formGroup]="comment" (ngSubmit)="addComent()" class="mb-4">
                            <textarea class="form-control" formControlName="texto" rows="3" placeholder="Deja un comentario"></textarea>
                            <br>
                            <input type="submit" [disabled]="!comment.valid" value="Añadir comentario" class="btn btn-primary">
                        </form>
                        <!-- Single comment-->
                        @if(publi.comentarios.length != 0){
                            @for(c of publi.comentarios; track $index){
                                <div class="d-flex">
                                    <div class="ms-3">
                                     <a class="nav-link" routerLink="/perfil/{{c.idUsu}}"><div class="fw-bold">{{c.nick}}</div></a>   
                                        <p>{{c.texto}}</p>
                                    </div>
                                </div>
                        }
                            }
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
